body {/*
    background: #FBFBFB;
    color: #333;*/
    font-family: Verdana, sans-serif;
}

#container {
    text-align: left;
}

#container a:link,
#container a:visited  { 
    font-weight: bold;
    /*font-size: 1.1em;*/
    text-shadow: 2.5px 1.25px rgba(51,122,183,0.75);
}


@media (min-width: 768px) {
    #container {
        margin-top: 100px;
    }
}


#contact {
    float: right;
    text-align: right;
}

#contact p {
    margin: .5em;
}

img {
    padding: 4px;
    border: 1px solid #ccc;
    background: #fff;
}


.btn {
    font-weight: bold;
}




h1 {
    margin-top: 0;
    text-align: center;
}

h2 {
    margin-top: 25px;
}

ul {
    list-style-type: none;
}

ul li ul {
    list-style-type: disc;
    margin-bottom: 2em;
}

@media (min-width: 1500px) {
    ul.lst {
        margin-top: 35px;
    }
}

ul.lst li {
    margin-top: 2px;
    padding-top: 8px;
    border-top: solid rgba(151,151,151,0.25);
}

ul li ul li {
    margin: .5em;
}


td + td,
th + th { 
    border-left: 2px solid rgba(151,151,151,0.2); 
    padding-left: 8px;
    padding-right: 8px solid transparent;
}

thead {
    border-bottom: 2px solid rgba(151,151,151,0.2); 
}